.subscribe-title{
text-decoration: underline;
text-decoration-color: rgba(229, 226, 226, 0.938);
text-decoration-style: wavy;
transition: text-decoration-color 0.5s;
}
.subscribe-title:hover{
    text-decoration-color: aqua;
}
.input-text{
     width:60%;
    padding: 10px;
}
.btn-subscribe{
    border: none; 
    border-radius: 15px;
    background: black;
    padding:5px 15px 5px 15px;
    color:white;
    width: 37%;
    font-size: 15px;
    font-weight: bold;
    transition: background 0.5s;
}
.btn-subscribe:hover{
    font-weight: bold;
    color: black;
    background: aqua;
}

@media (max-width:460px) {
    .subs-container{
        width: 100%;
        margin-bottom: 40px;
        display: block;
    }
}