.form-style{
    width:600px;
    margin-bottom: 200px;
}
.product-title{
    font-weight: bold;
    margin-top: 30px;
}
hr{
    border: 1px solid tomato;

}
.btn-submit{
    background-color: tomato;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    padding: 7px 28px 7px 28px;
}
.form-control{
    height: calc(1.5em + .75rem + 8px);
}
